__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
venv/
env/
ENV/

build/
build_debug/
dist/
pyi_runtime_tmp/
*.egg-info/

*.log
*.tmp
*.bak

inf.txt
/*_api_reference.md
doc/

.idea/
.vscode/
.DS_Store
Thumbs.db
